*{
box-sizing: border-box;
}

.container {
    width: 50%;
    cursor: pointer;
    padding: 0.2rem;
}
.thumbnail {
    width: 60%;
    height: 100%;
}
.video {
    display: flex;
    transition: transform 300ms ease-in-out;
    border: 1px solid lightgrey;
    box-shadow: 9px 8px 20px -13px rgba(0,0,0,0.65);
}
.video:hover {
    transform: scale(1.02);
}
.metadata{
    display: flex;
    flex-direction: column;
    justify-content: center
}
.metadata > p {
    margin: 2px 4px;
}
.title {
    font-size: .9rem;
}
.channel {
    font-size: .7rem;
    color: rgba(0,0,0,0.7);
}