*{
box-sizing: border-box;
}

.container {
    cursor: pointer;
    padding: 0.2rem;
}
.container.list {
    width: 100%;
}
.container.grid {
    width: 50%;
}
.thumbnail {
    width: 60%;
    height: 100%;
}
.video {
    display: flex;
    transition: transform 300ms ease-in-out;
    border: 1px solid lightgrey;
    box-shadow: 9px 8px 20px -13px rgba(0,0,0,0.65);
}
.video:hover {
    transform: scale(1.02);
}
.metadata{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.metadata > p {
    margin: 2px 4px;
}
.title {
    font-size: .7rem;
    max-height: 3rem;
    overflow: hidden;
}
.channel {
    font-size: .6rem;
    color: rgba(0,0,0,0.7);
}