.header {
    background-color: black;
    display: flex;
    /* justify-content: center; */
    padding: .2rem 1.2rem;
}
.logo {
    /* width: 12rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoImage {
    width: 1.5rem;
}
.logoName {
    color: #fff;
    font-size: 1rem;
}

.input {
    outline: none;
    flex-basis: 100%;
    margin-left: .8rem;
    
}
.searchButton {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: black;
}
.buttonImage {
    width: 1.1rem;
}
