.header {
	background-color: black;
	display: flex;
	padding: 0.2rem 0.4rem 0.2rem 0.8rem;
}
.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: transparent;
	outline: none;
	border: none;
}
.logoImage {
	width: 1.5rem;
}
.logoName {
	color: #fff;
	font-size: 1rem;
}

.input {
	outline: none;
	flex-basis: 100%;
	margin-left: 0.8rem;
}
.searchButton {
	width: 4rem;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: black;
}
.buttonImage {
	width: 1.1rem;
}
