.app {
  max-width: 80rem;
  margin: 0 auto;
}
.header {
  position: sticky;
  top: 0;
  z-index: 10;

}
.content {
  display: flex;
}
.detail {
  flex: 1 1 70%;
}
.list {
  flex: 1 1 30%;
  /* padding: 0 2.5rem; */
}

@media screen and (max-width: 1000px) {
  .content {
    flex-direction: column;
  }
}